= js_update_element "##{@query_column.dom_id(:conditions)}", :partial => 'dynamic_queries/query_options/column_conditions', :locals => {:column => @query_column}
dynamicQueries.actions.columnOptions.initConditionCreation();