= update_conditions_modal :partial => 'dynamic_queries/query_options/condition_form'
= show_conditions_modal
$('#conditions_modal input[type=radio][data-init=show-condition-type]:checked').trigger('click');