-# TODO: active item is no longer active after the progressbar was reloaded,
-#       this is due to the action name being changed for ajax calls

= js_replace_element '#dynamic_queries_progress', :partial => 'dynamic_queries/progressbar'