-# This partial represents a model box (resp. panel)
-# in the /associations step of query creation.


.panel-heading
  %h3.panel-title
    #{model.human_name(:count => 2)} (#{model.table_name})

%table.table.table-condensed.table-hover
  = render :partial => 'dynamic_queries/columns/column', :collection => model.columns