- if @query_column
  = js_replace_element "##{@query_column.column.dom_id}", :partial => 'dynamic_queries/columns/column', :object => @query_column.column
  = render :partial => 'dynamic_queries/update_progressbar'